.div{
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.header{
    background-color: #F9DB79;
    width: 100%;
    position: fixed;
    z-index: 3;
}
.link a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: 700;
}