.image {
    object-fit: cover;  /* Faz com que a imagem ocupe todo o espaço disponível, sem distorcer */
    width: 100%;
    height: 100%;
}
    /* Estilo para a div do texto sobre a imagem */
.text-container {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centraliza o conteúdo */
        color: white;
        text-align: center;
        font-size: 2rem;
        text-shadow: 2px 3px 2px black;
        letter-spacing: 4px;
    }
    .div{
        text-align: center;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 70px 0;
    }
    .div p{
        margin: 20px 0;
    }
    .div h4{
        margin: 20px 0;
    }
    .div_image{
        display: flex;
        width: 100%;
        height: auto; /* Ajusta a altura automaticamente */
    
    }
    .images{
        width: 100%;
        display: block; /* Remove qualquer espaço extra causado por imagens inline */
        height: 90vh;
    }
    @media(min-width: 300px) and (max-width: 480px){
        .section{
            width: 480px;
        }
        .image {
            object-fit: cover;  /* Faz com que a imagem ocupe todo o espaço disponível, sem distorcer */
            height: 90vh;
            width: 480px;
        }
        .text-container {
            display: flex;
            text-align: center;
            top: 55%;
            left: 58%;
            transform: translate(-50%, -50%); /* Centraliza o conteúdo */
            color: white;
            font-size: 1.8rem;
            text-shadow: 2px 3px 2px black;
            letter-spacing: 4px;
        }
        .div{
            padding: 40px;
        }
        .images{
            height: 40vh;
        }
    }
    @media(min-width: 481px) and (max-width: 768px){
        .section{
            width: 768px;
        }
        .image{
            height: 60vh;
        }
        .images{
            height: 55vh;
        }
        .div{
            padding: 40px;
        }
        .text-container{
            margin-left: 90px;
        }
    }
    @media(min-width: 769px) and (max-width: 1279px){
        .div{
            padding: 40px;
        }
        .images{
            height: 65vh;
            object-fit: cover;
        }
        .text-container{
            top: 40%;
        }
    }